# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Prototype 1.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Benjamin Hood\Documents\GitRepo\1610Spring2021\Prototype 1\.idea\.idea.Prototype 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
